{% extends 'base.html' %}

{% block navbar %}
<a href="/add" class="btn btn-primary">Add sandbox</a>
{% endblock %}

{% block content %}
<p>Your sandboxes:</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sandbox name</th>
      {% for feature_flag in feature_flags %}
        <th scope="col">
          {% if feature_flag.icon %}
            <img src="{{ feature_flag.icon }}" style="max-width:64px; max-height:64px;"/>
          {% else %}
            {{ feature_flag.name }}
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for sandbox in sandboxes %}
      <tr>
        <td><a href="/sandbox/{{ sandbox.namespace }}">{{ sandbox.namespace }}</a></td>
        {% for feature_flag in feature_flags %}
          <td>{% if sandbox.parameters[feature_flag.name] %}&#128505;{% else %}&#9744;{% endif %}</td>
        {% endfor %}
      <tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
