{% extends 'base.html' %}

{% block content %}
<p>
  <a href="/add" class="btn btn-primary">Add sandbox</a>
</p>

<p>Sandboxes on this cluster:</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sandbox name</th>
      <th scope="col">Owner</th>
    </tr>
  </thead>
  <tbody>
    {% for sandbox in sandboxes %}
      <tr>
        <td><a href="/sandbox/{{ sandbox.metadata.name }}">{{ sandbox.metadata.name }}</a></td>
        <td>{{ sandbox.metadata.labels['codemowers.cloud/sandbox-owner'] }}</td>
      <tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
